<% if ( typeof graph !== 'object') { %>
  <b>Error: Empty Matrix</b>
<% } else {
  const _description = typeof description === 'string' ? description: ''
  const matrix = graph.coherenceChart
  const overallWidth = typeof width === 'number' ? width : 100
  const squareSize = Math.floor(overallWidth / matrix.length)
  const yOffset = m => m * squareSize
  const xOffset = n => n * squareSize
  const halfLength = Math.floor(matrix.length / 2)
  console.log(graph.coherenceChart)
  const divisor = Math.pow(graph.rank, graph.size + 1)
  console.log('divisor', divisor)
  %>
  <div class="coherence-chart-container"  >
    <div>Coherence Chart representation of:</div>
    <div>"<%= graph.name %>"</div>
    <svg viewBox="-<%= squareSize %> -<%=squareSize %> <%= overallWidth + squareSize %> <%= overallWidth + squareSize %>" 
         class="sparse-matrix"
         style="height: <%= overallWidth + 1 %>px; width:<%= overallWidth %>px;margin-bottom:20px;" >
         <% for (let i = 0; i < matrix.length; i++) { // i for columns, print column label %>
          <text y="-<%= squareSize / 4 %>" 
                x="<%= xOffset(i) + squareSize / 3 %>" 
                font-size="<%= squareSize * 0.6 %>px" 
                fill="black"><%- i %></text>
         <% } %> 
         <% for (let j = 0; j < matrix.length; j++) { // j for rows, print row label %>
                <text y="<%= yOffset(j + 1) - squareSize / 3 %>" 
                      x="-<%= squareSize / 1.8 %>" 
                      font-size="<%= squareSize * 0.6 %>px" 
                      fill="black"><%- j %></text>
          <%
              for (let i = 0; i < matrix[j].length; i++) { // columns
                const value = matrix[j][i]
                const colorValue = value / divisor * 100
                let color = `rgb(${colorValue}, 100, ${255 - colorValue})`
                
                
                %>
                <rect y="<%= yOffset(j) %>" 
                      x="<%= xOffset(i) %>" 
                      width="<%= squareSize %>" 
                      height="<%= squareSize %>" 
                      stroke="black"
                      fill="<%= color %>"></rect>
                <text y="<%= yOffset(j) + (squareSize * 4 / 5) %>" 
                    x="<%= xOffset(i) + (squareSize / 4) %>" 
                    font-size="<%= squareSize * 1 / 4 %>px"
                    fill="black"><%= value / divisor %></text>
            <% }
            } %>
    </svg>
    <!-- <div style="color:white;background-color:red;padding:5px;line-height: 0.7;border:1px solid black;">Red cells are self relationship</div>
    <div style="color:white;background-color:#707070;padding:5px;line-height: 0.7;">Dark cells are balanced relationship</div>
    <div style="color:black;background-color:#C0C0C0;padding:5px;line-height: 0.7;border:1px solid black;">Light cells are unbalanced relationship</div>
    <div style="color:black;background-color:white;padding:5px;line-height: 0.7;border:1px solid black;margin-bottom:20px;">White cells represent no relationship</div> -->
  </div>
<% } %>
