<% if ( typeof graph !== 'object') { %>
  <b>Error: Empty Matrix</b>
<% } else {
  const _description = typeof description === 'string' ? description: ''
  const matrix = graph.coherenceChart
  const overallWidth = typeof width === 'number' ? width : 100
  const squareSize = Math.floor(overallWidth / matrix.length)
  const yOffset = m => m * squareSize
  const xOffset = n => n * squareSize
  const halfLength = Math.floor(matrix.length / 2)
  // console.log(graph.coherenceChart)

  %>
  <div class="coherence-chart-container"  >
    <div>Coherence Chart representation of:</div>
    <div>"<%= graph.name %>"</div>
    <svg viewBox="-<%= squareSize %> -<%=squareSize %> <%= overallWidth + squareSize %> <%= overallWidth + squareSize %>" 
         class="sparse-matrix"
         style="height: <%= overallWidth + 1 %>px; width:<%= overallWidth %>px;margin-bottom:20px;" >
         <% for (let i = 0; i < matrix.length; i++) { // i for columns, print column label %>
          <text y="-<%= squareSize / 4 %>" 
                x="<%= xOffset(i) + squareSize / 3 %>" 
                font-size="<%= squareSize * 0.6 %>px" 
                fill="black"><%- i %></text>
         <% } %> 
         <% for (let j = 0; j < matrix.length; j++) { // j for rows, print row label %>
                <text y="<%= yOffset(j + 1) - squareSize / 3 %>" 
                      x="-<%= squareSize / 1.8 %>" 
                      font-size="<%= squareSize * 0.6 %>px" 
                      fill="black"><%- j %></text>
          <%
              for (let i = 0; i < matrix[j].length; i++) { // columns
                %>
                <rect y="<%= yOffset(j) %>" 
                      x="<%= xOffset(i) %>" 
                      width="<%= squareSize %>" 
                      height="<%= squareSize %>" 
                      stroke="black"
                      fill="white"></rect>
                <text y="<%= yOffset(j) + (squareSize * 4 / 5) %>" 
                    x="<%= xOffset(i) + (squareSize / 4) %>" 
                    font-size="<%= squareSize * 2 / 4 %>px"
                    fill="black"><%= matrix[j][i] %></text>
            <% }
            } %>
    </svg>
  </div>
<% } %>
