<% if ( typeof composition !== 'object') { %>
  <b>Error: Empty Matrix</b>
<% } else {
  const overallWidth = typeof width === 'number' ? width : 100
  const _description = typeof description === 'string' ? description: ''
  const matrix = composition.numericMatrix
  const squareSize = Math.floor(overallWidth / matrix.length)
  const yOffset = m => m * squareSize
  const xOffset = n => n * squareSize
  %>
  <div class="matrix-svg-container" data-matrix="<%= JSON.stringify(matrix) %>">
    <%- _description %>
    <div class="characteristic-equation"></div>
    <svg viewBox="0 0 <%= overallWidth %> <%= overallWidth %>" 
         class="sparse-matrix"
         style="height: <%= overallWidth + 1 %>px; width:<%= overallWidth %>px;" >
         <% for (let j = 0; j < matrix.length; j++) { // rows
              for (let i = 0; i < matrix[j].length; i++) { // columns
                const value = matrix[j][i]
                if (typeof value !== 'boolean') compositionGraph = true
                %>
                <rect y="<%= yOffset(j) %>" 
                      x="<%= xOffset(i) %>" 
                      width="<%= squareSize %>" 
                      height="<%= squareSize %>" 
                      stroke="black"
                      fill="white"></rect>
                <text y="<%= yOffset(j + 1) - squareSize / 5 %>" 
                      x="<%= xOffset(i) + squareSize / 10 %>" 
                      font-size="<%= squareSize * 0.8 %>px" 
                      
                      fill="black"><%- value %></text>
            <% }
            } %>
    </svg>
    <div><b><%= composition.name %></b></div>
  </div>
<% } %>
