<h1>Morph <%= morph._id %></h1>
<div class="row">
  <div class="col-lg-6">
    <form action="/morphs/edit/<%= morph._id %>" method="POST" >
      <div>
        <h3>There are <%= morph.exampleCount %> of these:</h3>
        <h3>
          <input type="text" value="<%= morph.name %>" name="name" <%= NODE_ENV === 'local' ? 'enabled' : 'disabled' %> style="width: 41rem;"></input>
        </h3>
        <div>
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>
    <div>
      <h4><%- morph.characteristicPolynomialHtml %></h4>
      <%- include('spectralGraph', { morph }) %>
      <img src="<%= morph.image %>" alt="cannonical image of graph" class="img-responsive" style="max-width:300px;max-height:300px;">
      <form action="/morphs/saveImage/<%= morph._id %>" method="POST" >
        <%- include('graph', { graph: morph.bestExample, 
          width: 400
        }) %>
        
      </form>
      <h2>All <%= graphs.length %> Graphs that have this Morphology</h2>
      <ol>
        <% graphs.forEach((graph, i) => { %>
          <li>
            <a href="/graph/lineage/<%= graph.id %>"><%= graph.name %></a>
          </li>
        <% }) %>
      </ol>
    </div>
  </div>
  <div class="col-lg-6">
    <h2>Object Lineage</h2>
  </div>
</div>



