<h1>Morph <%= morph._id %></h1>
<div class="row">
  <div class="col-lg-6">
    <form action="/morphs/edit/<%= morph._id %>" method="POST" >
      <div>
        <h3>There are <%= morph.exampleCount %> of these:</h3>
        <h3>
          <input type="text" value="<%= morph.name %>" name="name" <%= NODE_ENV === 'local' ? 'enabled' : 'disabled' %> style="width: 41rem;"></input>
        </h3>
        <div>
          <% if (process.env.NODE_ENV === 'local') { %> 
          <button type="submit">Submit</button>
          <% } %>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-lg-6">
        <h4><%- morph.characteristicPolynomialHtml %></h4>
        <img src="<%= morph.image %>" alt="cannonical image of graph" class="img-responsive" style="max-width:200px;max-height:200px;margin-bottom:20px;">
        <p>This is a cannonical image. It's vertex numbers represent <i>only this one permutation</i> of the <%= morph.exampleCount %> permutations of this morph.</p>
      </div>
      <div class="col-lg-6">
        <form action="/morphs/saveImage/<%= morph._id %>" method="POST" >
          <%- include('graph', { graph: morph.bestExample, 
            width: 200,
            colored: false
          }) %>
        </form>
      </div>
      
     
    </div>
  </div>
  <div class="col-lg-6">
    <%- include('superpositionMatrix', { superpositionMatrix: morph.superpositionMatrix, width: 200 }) %>
    <h3><a href="/morphs/edit/<%= morph.antiMorph.id %>">Anti Morph</a></h3>
    <h3>All <%= graphs.length %> graphs that have this Morphology</h3>
      <ol>
        <% graphs.forEach((graph, i) => { 
          let isBestExample = graph.id === morph.bestExample.id
          %>
          <li>
            <a href="/graph/lineage/<%= graph.id %>" style="font-weight: <%= isBestExample ? '700' : '400' %>;">
              <%= graph.name %>
            </a>
            <span>pseudoSkewSymmetryScore = <%= graph.pseudoSkewSymmetryScore %></span>
          </li>
        <% }) %>
      </ol>
  </div>
</div>



