<h1>Morph <%= morph._id %></h1>
<form action="/morphs/edit/<%= morph._id %>" method="POST" >
  <div>
    <h3>There are <%= morph.exampleCount %> of these:</h3>
    <h3>
      <input type="text" value="<%= morph.name %>" name="name" <%= NODE_ENV === 'local' ? 'enabled' : 'disabled' %> style="width: 41rem;"></input>
    </h3>
    <div>
      <button type="submit">Submit</button>
    </div>
  </div>
  <div>
    <h4><%- morph.characteristicPolynomialHtml %></h4>
    <%- include('spectralGraph', { morph }) %>
    
  </form>
    <%- include('graph', { graph: morph.bestExample, 
      width: 400
    }) %>
  </div>


