

<div class="row">
  <div class="col-lg-3">
    <h3><%- graph.morphIdentified.characteristicPolynomialHtml %></h3>
    <h3>Size: <%= graph.size %>, Rank: <%= graph.rank %></h3>
    <%- include('graph', { graph, 
      width: 200
    }) %>

     <%- include('coherenceChart', { graph, 
      width: 200
    }) %>

  </div>
  <div class="col-lg-9">
   <!-- put time series here -->
    <%- include('eventHorizon', { graph, width: 800 }) %>
  </div>
</div>

