<% if ( typeof graph !== 'object') { %>
  <b>Error: Empty Matrix</b>
<% } else {
  // console.log(graph.relationsObject)
  const _description = typeof description === 'string' ? description: ''
  const matrix = graph.booleanMatrix
  const overallWidth = typeof width === 'number' ? width : 100
  const squareSize = Math.floor(overallWidth / matrix.length)
  const yOffset = m => m * squareSize
  const xOffset = n => n * squareSize
  %>
  <div class="graph-container" data-matrix="<%= JSON.stringify(matrix) %>">
    <p>Colored Matrix Representation of <%= graph.name %></p>
    <svg viewBox="-<%= squareSize %> -<%=squareSize %> <%= overallWidth + squareSize %> <%= overallWidth + squareSize %>" 
         class="sparse-matrix"
         style="height: <%= overallWidth + 1 %>px; width:<%= overallWidth %>px;margin-bottom:20px;" >
         <% for (let i = 0; i < matrix.length; i++) { // i for columns, print column label %>
          <text y="-<%= squareSize / 4 %>" 
                x="<%= xOffset(i) + squareSize / 3 %>" 
                font-size="<%= squareSize * 0.6 %>px" 
                fill="black"><%- i %></text>
         <% } %> 
         <% for (let j = 0; j < matrix.length; j++) { // j for rows, print row label %>
                <text y="<%= yOffset(j + 1) - squareSize / 3 %>" 
                      x="-<%= squareSize / 1.8 %>" 
                      font-size="<%= squareSize * 0.6 %>px" 
                      fill="black"><%- j %></text>
          <%
              for (let i = 0; i < matrix[j].length; i++) { // columns
                const value = matrix[j][i]
                let color = 'white'
                if (value === true) color = 'darkgrey'
                if (value === true &&  matrix[i][j] === true) color = 'black'
                if (value === true && i === j) color = 'red'
                %>
                <rect y="<%= yOffset(j) %>" 
                      x="<%= xOffset(i) %>" 
                      width="<%= squareSize %>" 
                      height="<%= squareSize %>" 
                      stroke="<%= color === 'black' ? 'dimgrey' : 'black' %>"
                      fill="<%= color %>"></rect>
            <% }
            } %>
    </svg>

    <div style="margin-bottom:20px;"><b>Graph pseudoSkewSymmetry Score = <%= graph.pseudoSkewSymmetryScore %></b></div>
    <ul style="list-style: none;">
      <li><span style="color:white;background-color:black;padding:5px;line-height: 2;">Black cells are symmetric</span></li>
      <li><span style="color:white;background-color:darkgrey;padding:5px;line-height: 2;">Dark Grey cells are not symmetric</span></li>
      <li><span style="color:white;background-color:red;padding:5px;line-height: 2;">Red cells are self-referential</span></li>
    </ul>
    <div class="cytoscape-visualization" style="height: <%= overallWidth %>px; width:<%= overallWidth %>px;display:none;border:1px solid black;"></div>
    <button type="button">Render As Wireframe</button>
    <input type="text" hidden value="" name="imageSrc"/>
    <button type="submit" name="saveImage" style="display:none;" class="pull-right">Update Image</button>
  </div>
<% } %>
