

<div class="row">
  <div class="col-lg-4">
    <%- include('graph', { graph, 
      width: 200,
      colored: false
    }) %>

  </div>
  <div class="col-lg-8">
    <div class="row">
      <div class="col-xs-4">
        <h4><%= graph.morphIdentified.name %></h4>
        <p><%- graph.morphIdentified.characteristicPolynomialHtml %></p>
        <img src="<%= graph.morphIdentified.image %>" alt="cannonical image of graph" class="img-responsive" style="width:100px;">
        <p>This is a cannonical image of the subseqent morphology, it's vertex numbers do <i>not</i> represent the graph shown</p>
      </div>
      <div class="col-xs-8">

      </div>
    </div>
    
    <% graph.phylogeny.tuple.forEach(g => { %>
      <div class="row">
        <div class="col-xs-4">
          <h4><%= g.morphIdentified.name %></h4>
          <p><%- g.morphIdentified.characteristicPolynomialHtml %></p>
          <img src="<%= g.morphIdentified.image %>" alt="cannonical image of graph" class="img-responsive" style="width:100px;">
          <p>This is a cannonical image of the subseqent morphology, it's vertex numbers do <i>not</i> represent the graph shown</p>
        </div>
        <div class="col-xs-8">
         <!-- spectral graph would go here -->
        </div>
      </div>
    <% }) %>
  </div>
</div>

