<% if ( typeof matrix !== 'object') { %>
  <b>Error: Empty Matrix</b>
<% } else {
  const overallWidth = typeof width === 'number' ? width : 100
  const _titleHTML = typeof titleHTML === 'string' ? titleHTML: ''
  const squareSize = Math.floor(overallWidth / matrix.length)
  const yOffset = m => m * squareSize
  const xOffset = n => n * squareSize
  let compositionGraph = false
  %>
  <div class="matrix-svg-container" data-matrix="<%= JSON.stringify(matrix) %>">
    <%- titleHTML %>
    <div class="characteristic-equation"></div>
    <svg viewBox="0 0 <%= overallWidth %> <%= overallWidth %>" 
         class="sparse-matrix"
         style="height: <%= overallWidth + 1 %>px; width:<%= overallWidth %>px;" >
         <% for (let j = 0; j < matrix.length; j++) { // rows
              for (let i = 0; i < matrix[j].length; i++) { // columns
                const value = matrix[j][i]
                if (typeof value !== 'boolean') compositionGraph = true
                %>
                <rect y="<%= yOffset(j) %>" 
                      x="<%= xOffset(i) %>" 
                      width="<%= squareSize %>" 
                      height="<%= squareSize %>" 
                      stroke="black"
                      fill="<%= (value === true || typeof value === 'number' || typeof value === 'string') ? 'darkgrey' : 'white' %>"></rect>
                <text y="<%= yOffset(j + 1) - squareSize / 5 %>" 
                      x="<%= xOffset(i) + squareSize / 10 %>" 
                      font-size="<%= squareSize * 0.8 %>px" 
                      style="display:<%= (typeof value === 'number' || typeof value === 'string') ? 'inline-block' : 'none' %>;"
                      fill="white"><%- value %></text>
            <% }
            } %>
    </svg>
    <div class="cytoscape-visualization" style="height: <%= overallWidth %>px; width:<%= overallWidth %>px;display:none;border:1px solid black;"></div>
    <div>
      <% if (!compositionGraph) { %>
        <button>Show As Wireframe</button>
      <% } %>

    </div>
    
  </div>
<% } %>
