<h1>All Known Morphs with size: <%= typeof size === 'string' ? size : 'all' %></h1>
<p>"Morphs" are what we call the shape of the graph, and it turns out that even though there are many thousands of graphs, when their characteristic polynomial is found, many are shared. In fact, some morphs have thousands of different graphs that produce the same morph, but each of those matrices shares the same characteristic polynomial</p>
<p>Here are all currently identified morphs, and how many there are, with an example of each one:</p>

<% morphs.forEach(m => { %>
  <div>
    
    <h3>There are <%= m.exampleCount %> of <a href="/morphs/edit/<%= m._id %>"><%= m.name ? m.name: 'Unnamed' %></a>:</h3>
    <div class="row">
      <div class="col-lg-6">
        
        <h4><%- m.characteristicPolynomialHtml %></h4>
        <img src="<%= m.image %>" alt="cannonical image of graph" class="img-responsive" style="max-width:300px;max-height:300px;">
      </div>
      <div class="col-lg-6">
        <%- include('spectralGraph', { morph: m }) %>
      </div>
    </div>
  </div>
<% }) %>
