<% const notes = {
  4: 'Space has been fully spanned, not all of these graphs are rank-3. Many are modes of the tetrahedron',
  6: 'Space has been fully spanned',
  8: 'Space has been fully spanned',
  10: 'Space has not been fully spanned',
  12: 'Space has not been fully spanned',
  16: 'Space has not been fully spanned'
}
%>

<% if (typeof size === 'string' && size !== 'all') {
  const _size = parseInt(size, 10) %>

<h1>Space, size n = <%= _size %></h1>
<div class="well well-sm">
  <p><b>Notes:</b><span> <%= notes[_size] %></span></p>
  <p>
    <b>Total Matrices:</b>
    <span><%= Math.pow(2, _size * _size).toExponential(2) %></span>
  </p>
  <p>
    <% const symmetricMatrixCount = Math.pow(2, _size * (_size - 1) / 2).toExponential(2)  %>
    <b>Symmetric Matrices:</b>
    <span><%= symmetricMatrixCount %></span>
  </p>
  <p>
    <b>Total Rank-3 Graphs Found:</b>
    <span><%= _size === 4 ? 1: graphsInSpace %></span>
  </p>
  <p>
    <b>Compliant Graph Density in Space of Symmetric Graphs:</b>
    <span><%=  graphsInSpace / symmetricMatrixCount %></span>
  </p>
  <p>
    <b>Total Morphs Found:</b>
    <span><%= morphs.length %></span>
  </p>
  <p>
    <b>Total Ordered Pairs (black squares) in each graph:</b>
    <span><%= 3 * _size %></span>
  </p>

</div>
<% } %>

<h2>All Known Morphs in n =  <%= typeof size === 'string' ? size : 'all' %></h2>
<p>"Morphs" are what we call the shape of the graph, and it turns out that even though there are many thousands of graphs, when their characteristic polynomial is found, many are shared. In fact, some morphs have thousands of different graphs that produce the same morph, but each of those matrices shares the same characteristic polynomial</p>
<p>Here are all currently identified morphs, and how many there are, with an example of each one:</p>

<% morphs.forEach(m => { %>
  <div>
    
    <h3>There are <%= m.exampleCount %> of <a href="/morphs/edit/<%= m._id %>"><%= m.name ? m.name: 'Unnamed' %></a>:</h3>
    <% if (typeof graphsInSpace === 'number') { %>
      <h4>Partial Probability: <%= m.exampleCount / graphsInSpace %></h4>
    <% } %>
    
    <div class="row">
      <div class="col-lg-6">
        
        <h4><%- m.characteristicPolynomialHtml %></h4>
        <img src="<%= m.image %>" alt="cannonical image of graph" class="img-responsive" style="max-width:300px;max-height:300px;">
      </div>
      <div class="col-lg-6">
        <%- include('spectralGraph', { morph: m }) %>
      </div>
    </div>
  </div>
<% }) %>
