<% if (typeof size === 'string') {
  const _size = parseInt(size, 10) %>

<h1>Space, size n = <%= _size %></h1>
<div class="well well-sm">
  <p>
    <b>Total Matrices:</b>
    <span><%= Math.pow(2, _size * _size).toExponential(2) %></span>
  </p>
  <p>
    <b>Symmetric Matrices:</b>
    <span><%= Math.pow(2, _size * (_size - 1) / 2).toExponential(2) %></span>
  </p>
  <p>
    <b>Total Rank-3 Graphs Found:</b>
    <span><%= graphsInSpace %></span>
  </p>
  <p>
    <b>Total Morphs Found:</b>
    <span><%= morphs.length %></span>
  </p>
  <p>
    <b>Total Ordered Pairs (black squares) in each graph:</b>
    <span><%= 3 * _size %></span>
  </p>

</div>
<% } %>

<h2>All Known Morphs in n =  <%= typeof size === 'string' ? size : 'all' %></h2>
<p>"Morphs" are what we call the shape of the graph, and it turns out that even though there are many thousands of graphs, when their characteristic polynomial is found, many are shared. In fact, some morphs have thousands of different graphs that produce the same morph, but each of those matrices shares the same characteristic polynomial</p>
<p>Here are all currently identified morphs, and how many there are, with an example of each one:</p>

<% morphs.forEach(m => { %>
  <div>
    
    <h3>There are <%= m.exampleCount %> of <a href="/morphs/edit/<%= m._id %>"><%= m.name ? m.name: 'Unnamed' %></a>:</h3>
    <h4>Partial Probability: <%= m.exampleCount / graphsInSpace %></h4>
    <div class="row">
      <div class="col-lg-6">
        
        <h4><%- m.characteristicPolynomialHtml %></h4>
        <img src="<%= m.image %>" alt="cannonical image of graph" class="img-responsive" style="max-width:300px;max-height:300px;">
      </div>
      <div class="col-lg-6">
        <%- include('spectralGraph', { morph: m }) %>
      </div>
    </div>
  </div>
<% }) %>
